.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  body {
    background-color: whitesmoke; /* Màu nền sáng (light gray) */
    color: #000000; /* Màu chữ */
}
  .container {
    text-align: center;
    font-size: medium;
  }
  
  .CODE_LUV-container {
    margin: 30px 0;
      display: flex;
      justify-content: center; /* Căn giữa các ảnh */
      align-items: center; /* Căn giữa theo trục dọc */
      gap: 20px; /* Khoảng cách giữa các ảnh */
  }

  .CODE_LUV-container img {
    width: 150px;
    height: auto;
  }
  
  .p {
    font-size: 20px;
    line-height: 1.5;
    color: #000000cf;
    text-align: center;
    margin: 20px;
  }

  .Cap {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
  }

  .Cap p {
    margin-bottom: 15px; /* Điều chỉnh khoảng cách giữa các đoạn */
}

  
  .img {
    width: 300px;
    height: auto;
    
  }
  
  .p {
    font-size: 50px;
    line-height: 1.5;
    color: #000000cf;
    text-align: justify;
    margin: 20px;
  }
  
  .container2 img {
    margin: 30px 0;
      display: flex;
      justify-content: center; /* Căn giữa các ảnh */
      align-items: center; /* Căn giữa theo trục dọc */
      gap: 20px; /* Khoảng cách giữa các ảnh */
      width:300px ;
  }

.container2 video {
  margin: 30px 0;
  display: flex;
  justify-content: center; /* Căn giữa các ảnh */
  align-items: center; /* Căn giữa theo trục dọc */
  gap: 20px; /* Khoảng cách giữa các ảnh */
  width: 300px ;
}

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .recorder {
    margin-top: 20px;
  }
  
  .audio-player {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    text-align: center;
    position: fixed;
    z-index: 25;
  }
  
  .playlist {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1000;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .playlist ul li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .playlist ul li:hover {
    background: #eee;
  }
  
 